*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    height:100vh;
    width:100%;
    padding: 0 8%;
    position: relative;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    padding: 28px 0%;
}

.nav_links li {
    display: inline-block;
    margin: 0 15px;

}
 nav h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
 }

.nav_links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
}



.nav_links li a::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom:0%;
    left: 0%;
    height:2px;
    width: 0%;
    background: #ff3d00;
    transition: width 0.5s;
}

.nav_links li a:hover::after{
    width:100%;
}

.btn {
    background: #ff3d00;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
}

.content {
    position: absolute;
    text-align: center;
    left:50%;
    top:50%;
    width:90%;
   transform: translate(-50%, -50%);
    max-width: 900px;
    color:#fff
}

.content h1 {
    font-size:45px;
    font-weight: 600px;
    margin-bottom:40px;
    padding-top: 50px;
}

.content form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display:flex;
}

.content form input {
    flex: 1;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
}

.content form button {
    background: #ff3d00;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 6px;
    font-size: 18px;
}

.category_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.category {
    width:80px;
    height: 80px;
    background: rgba(255, 61, 0, 0.15);
    margin: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category img {
    width:25px;
    margin-bottom: 5px;
}

.work {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index:-100;
}



