  @media screen and (max-width: 1200px) {
    /* Laptop */

    .about_img img {
        height: 450px;
        width: 100%;
        background-position: center;
       
    }
}



@media screen and (max-width: 992px) 
{/* Galaxy Tab */


    .nav_header{
        height: 1000px;
        
    }

    .nav_logo{

        .logo a{
            text-decoration: none;
            font-size: 1.3rem;
            display: flex;
            
        }
    }  


    .nav_list{
        /* remember */
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 2rem;
        justify-content: space-around;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        
    }

    

   


    .header_items{
        display: grid;
        grid-template-columns: column;
        align-items: center;
        justify-content: center;
        top : 0;
        .header_text{
           font-size: 1.3rem;
           margin-top: 1.8rem;
           width: 100vw;
        }

        .header_text h2{
            text-align: center;
        }
        .header_text p{
            font-size: 13px;
            text-align: center;
            float: none;
    
        }
        
    
    }
    
    .header_illustrations{
        display:grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin: 0 auto;


        .header_img{
            border-radius: 0.1rem;
            width: auto;
            height: auto;
            box-shadow: 5px 3px 15px 3px #282827;
            border: 1px solid  #f8e8d0;
                &:hover{
                border: 1px solid #ef9273;
            }
        }
        
    }

    .about{
        display: grid;
        .about_items{
           margin: 2rem;
           display: grid; 
           gap: 0rem;
           padding-top: 2rem;
            
           
       }
   
   
      .about_img img {
            height: 300px;
            width: 100%;
            background-position: center;
           
        }
          
       }
   
       .about_us{
           align-items: center;
           justify-content: center;
           margin-top: 3rem; 
           padding: 1rem;

       }
   
       
   
       .about_list li{
           font-size: 13px;
           text-align: justify;
           line-height: 1.5rem;
           
       }

       .swiper{
    margin-top: 24rem;
   
  }
   
       
}

    




/* Portrait and Landscape */
@media screen and (max-width: 768px) 
{ /* Android Phone */

    .nav_header{
        height: 1000px;
        position: relative;
        
    }

    .nav_logo{

        .logo a{
            text-decoration: none;
            font-size: 1.3rem;
            display: flex;
            
        }
    }  

    

    


    .header_items{
        display: grid;
        grid-template-columns: column;
        align-items: center;
        justify-content: center;
        top : 0;
        .header_text{
           font-size: 1.3rem;
           margin-top: 1.8rem;
           width: 100vw;
        }

        .header_text h2{
            text-align: center;
        }
        .header_text p{
            font-size: 13px;
            text-align: center;
            float: none;
    
        }
        
    
    }






    .header_illustrations{
        border-radius: 0.1rem;
        display:grid;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;


        .header_img{
            width: auto;
            height: auto;
            box-shadow: 5px 3px 15px 3px $shadow;
            border-style: none;
            &:hover{
                border: 1px solid $primary_color;
            }
        }
        
    }

    .about{
        .about_items{
           margin: 2rem;
           display: grid; 
           gap: 0rem;
           padding-top: 2rem;
            
           
       }
   
       .about_img{
           height: 100%;
           justify-content: center;
           align-items: center;
       }
   
       .about_img img {
           height: 300px;
           width: 100%;
           background-position: center;
          
       }
   
       .about_us{
           align-items: center;
           justify-content: center;
           margin-top: 3rem; 
           padding: 1rem;

       }
   
       
   
       .about_list li{
           font-size: 13px;
           text-align: justify;
           line-height: 1.5rem;
           
       }
   
       
   }


 /*  .nav_list li {/* remember 
    position: absolute;
    right: 0px;
    height: 70%;
    display: grid;
    align-items: center;
    background: #f7ebda;
    width: 70%;
 }

 .nav_list li a {
    padding-top:30rem;
    display: flex;
    flex-direction: column;
  }
  */
  
  .swiper{
    margin-top: 26rem;
   
  }
  

}






/* Portrait and Landscape */
