@import "./colors";


*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}

.nav_header{
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url("../image/landing/pexels-pixabay-264594.jpg");
    background-position: center;
    height: auto;
    width: auto;
    background-size: cover;
    .header{
        height: 100vh;
        width:100vw;
        
    
    }
}

.navbar{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav_logo{
    .logo a{
        padding: 1.5rem;
        text-decoration: none;
        font-size: 1.8rem;
        color: #fff;
        list-style-type: none;
        font-weight: bold;
        
    }

    .logo span{
        color: $primary_color;
    }
}  



.nav_items{
    font-weight: bold;
    font-size: 14px;
    .nav_list li{
        display: inline-block;/* remember */
        padding: 10px 10px;

    }

    .nav_list li a{
        list-style-type: none;
        text-decoration: none;
        color: #fff;
        transition: 0.6s all ease;
        border-style: none;
        &:hover{
            color: $primary_color;
        }

    }

}

.nav_button{
    padding: 20px;
    margin-right: 3rem;
    .nav_btn{
        padding: 0.7rem 0.8rem;
        background: $primary_color;
        border-radius: 1.5rem;
        color:#fff;
        font-weight: bold;
        font-size: 12px;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s ease;
        }
    }
}

.burger{
    display: none;
    .burger div{
        background-color:#ffffff;
        width: 25px;
        height: 3px;
        margin:5px;
       
    }
}



.header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    .header_text{
       color: #fff;
       font-size: 1.8rem;
    }
    .header_h2{
        text-align: center;
        
    }
    .header_text h2 span{
        color: $primary_color;
    }
    .header_text p{
        font-size: 13px;
        float: right;

    }
    

}

.header_illustrations{
    display: flex;
    gap: 2rem;
    margin: 1.5rem;
    .header_img{
        border: 1px solid #f5ebda;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        padding: 0.5rem 0.5rem;
        border-radius: 1.5rem;
        line-height: 1rem;
        width: 50%;
        box-shadow: 5px 3px 15px 3px $shadow;
        border-style: none;
        &:hover{
            border: 1px solid $primary_color;
        }
    }
    
    .header_img img{
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header_img p{
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        font-family: sans-serif;
    }
}




.about{
    display: grid;
    grid-template-columns: repeat(1fr, 50%);
    height: 100vh;
     .about_items{
        margin: 2rem;
        display: flex; 
        gap: 1.5rem;   
        padding-top: 2rem; 
    }

    .about_img img {
        height: 30%;
       box-shadow: 3px 3px 15px 3px #e4e4e4;
    }

    .about_us{
        align-items: center;
        justify-content: center;
        line-height: 1.5rem;
        
    }

    .about_us h3{
        font-weight: bold;
        font-size: 1.3rem;
        padding-bottom: 1rem;

    }

    .about_list{
        margin-left: 15px;
    }

    .about_list li{
        list-style-type: none;
        gap: 1rem;
        font-size: 15px;
        line-height: 2rem;
        justify-content: space-around;
    }

    #h3_p{
        opacity: 50%;
        font-style: italic;
        font-family: cursive;
    }
}

.swiper{
    display: block;
    width:100vw;
    height: auto;
    margin-top: -5rem;
    padding: 1rem;
    overflow: hidden;

    .our_clients .swiper-wrapper{
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        // flex-direction: row;
        // width: 100%;
        


    }
    .swiper-slide img{
        height: 30px;
        // width: 10rem;
        // padding: 1.3rem;
       filter: grayscale(100%);
       transition: 0.5s all ease;
       &:hover{
        filter: grayscale(0%);

       }
    }
}




/* ================== another part entirely ============================ */

@import "./responsive";
