/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

body{
    background:  radial-gradient( rgb(239, 192, 23), rgba(236, 153, 0, 0.804));
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    position: relative;
}

.wrapper {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px #000;
    background-color: #fff;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom:130px;
}

.active {
    background-color: #f7f7f7;
}

.active .player_nmae {
    font-weight:300;
} */


/*#box{
    border: 1px solid black;
    width:100px;
    height:100px;
    margin: 0 auto;
    color:rgb(246, 249, 252);

}
.learn img {
    height: 200px;
}

.box {
    width: 50%;
    height: 300px;
    border: 1px solid #000;
}*/


.wrapper {
    width: 50%;
    background-color: wheat;
    padding: 20px;
    position: relative;
}
.player11{
    float: left;
    width: 50%;
    /* background-color: azure; */
}

.player2{
    right:50%;
}

.cur{
    background-color: red;
    width: 50px;
}

img{
    width: 40px;
    position: absolute;
    bottom: 100px;
    left: 25%;
}

.active{
    background-color:#fff
}